body {
    margin: 0;
}

:root {
    --headerheigh: 54.5px;
}

img{
    max-width: 100%;

}
a {
    color: inherit;
}



.body {
    display: flex;
    height: 100vh;
    

}

.sidebar {
    width: 80px;
    border-right: 1px solid black;

}
.sidebar  a {
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px  rgb(163, 163, 163) ;

}

.sidebar  a.logo {
    padding-bottom: 0px;
}

.main{
    width: calc(100% - 80px);


}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
    background: white;
    height: var(--headerheigh);
    border-bottom: 1px solid black;    
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px  rgb(163, 163, 163) ;



}


.benphai a {
margin-left: 20px;
}


.content {
    margin: 20px;
    height:  100% ;
    background: white;

}
table { 
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;

}



.searchrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    margin: 10px 0px;

}

tbody tr:nth-child(2n+1) {
background-color: rgb(231, 231, 231);
}
    
td.checkbox {
    text-align: center ;
    width: 30px;
}

tbody td  {
    padding: 15px
}

tbody td:nth-child(2) {
    text-align: center;
}

tbody th i {
    float: right;
}
tbody tr:first-child th:not(:first-child){
    text-align: left;
}